.new-background {
    width: 100vw;
    height: 10vh;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 160px;
    z-index: 1000;
}

.new-background > div {
    display: flex;
    align-items: center;
}

.new-background div:nth-child(2) {
    gap: 30px;
    margin-right: 20px;
}

.cart-icon, .profile {
    color: #ff7a00;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login {
    padding: 10px 30px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #FF7A00;
    background-color: #FFFEFD;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    background-color: #FF7A00;
}

.img-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.cart-container {
    position: relative;
}

.count-products-cart {
    width: 20px;
    height: 20px;
    background-color: white;
    color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -10px;
    right: -35px;
}

.cart-icon:hover {
    color: #ff7b00b4;
}

.profile:hover {
    color: #ff7b00b4;
}

.new-background .pop-up {
    background-color: white;
    width: 100%;
    max-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    top: 80px;
    right: 200px;
    z-index: 1001;
    padding: 10px;
    border-radius: 5px 0 5px 5px;
}