.content-form {
    margin-top: 25%;
}

.container-form {
    margin-top: 5%;
}

.p-entrar, .btn-entrar {
    display: none;
}

@media(max-width: 1300px) {
    .content-form {
        margin-top: 15%;
    }
}

@media(max-width: 990px) {
    .content-form{
        margin: 0;
    }
}

@media(max-width: 600px) {
    .content-form {
        margin-top: 10%;
    }
}

@media(max-width: 400px) {
    .content-form {
        margin-top: 15%;
    }
}