.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.content {
    width: 290px;
    flex-direction: column;
    align-items: flex-start;
}

.image-product {
    width: 100%;
    height: 320px;
    object-fit: initial;
}

.card-description-main-product {
    padding-top: 20px;
    text-align: right;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
}