.container-profile {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-profile {
    width: 1000px;
    height: 550px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
}

.content-profile {
    margin-top: 50px;
    margin-left: 200px;
    display: flex;
    align-items: center;
}


.form-content-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding-top: 30px;
}


@media(max-width: 500px) {
    .background-profile {
        border: none;
    }
}

.name{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}

.infos{
    font-size: 15px;
}

.profile-edit{
    color: white;
}